{% extends './layout.html' %} {% block content %}

<form action="/users" method="POST" style="margin-bottom:15px;">
  <div class="form-row" style="margin-top:10px;">
    <div class="form-group col-md-6">
      <label style="font-weight:bold;">Name</label>
      <input name="name" type="text" class="form-control" placeholder="Creature Name">
    </div>
    <div class="form-group col-md-6">
      <label style="font-weight:bold;">Type of residence</label>
      <input type="text" name="residence" class="form-control" placeholder="Residence">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label style="font-weight:bold;">Fun Fact</label>
      <input type="text" class="form-control" name="funFact" placeholder="Fun fact">
    </div>
    <div class="form-group col-md-6">
      <label style="font-weight:bold;">Image</label>
      <input type="text" class="form-control" name="image" placeholder="Link to an image of the creature">
    </div>
  </div>
  <button class="btn btn-success">Create!</button>
</form>

<ul class="list-group">
  {% for user in users %}
    <li class="list-group-item">
      <a href="/users/{{user.name}}">{{user.name}}</a>
      <form action="/users/{{user.id}}?_method=DELETE" method="POST">
        <div class="form-group">
          <button class="btn btn-danger" style="margin-top:10px;">Delete</button>
        </div>
      </form>
    </li>
  </a>
  {% endfor %}
</ul>

{% endblock %}
